In [98]:
import requests
from bs4 import BeautifulSoup

In [99]:
url = "https://www.goodreads.com/quotes/tag/{}?page={}"

In [101]:
def get_Quotes(url):

    res=requests.get(url)

    soup = BeautifulSoup(res.text)

    quote_divs = soup.find_all("div", attrs={"class" : "quote"})

    quotes = []
    for quote_div in quote_divs:

        quote_text_div = quote_div.find_next("div", attrs={"class" : "quoteText"})

        striped = quote_text_div.text.strip()

        striped_li = striped.split("\n")

        quote = striped_li[0][1:-1]
        author = striped_li[-1].strip()

        left_div = quote_div.find_next("div", attrs={"class":"left"})
        tags = [ tag.text for tag in left_div.find_all("a") ]

        quote_item = {
            "quote" : quote,
            "authors" : author,
            "tags" : tags
        }
        quotes.append(quote_item)
    return quotes

In [110]:
emotions = ["love","life","inspirational"]
total = []
for emotion in emotions:
    for i in range(1,7):
        total.extend(get_Quotes(url.format(emotion,i)))
        print(emotion," processed ",i)

love  processed  1
love  processed  2
love  processed  3
love  processed  4
love  processed  5
love  processed  6
life  processed  1
life  processed  2
life  processed  3
life  processed  4
life  processed  5
life  processed  6
inspirational  processed  1
inspirational  processed  2
inspirational  processed  3
inspirational  processed  4
inspirational  processed  5
inspirational  processed  6

In [112]:
len(total)

540

In [113]:
import pandas as pd

In [114]:
df = pd.DataFrame(total)

In [115]:
df.head()

,quote,authors,tags
0,"I'm selfish, impatient and a little insecure. ...",Marilyn Monroe,"[attributed-no-source, best, life, love, misat..."
1,You've gotta dance like there's nobody watchin...,William W. Purkey,"[dance, heaven, hurt, inspirational, life, lov..."
2,You know you're in love when you can't fall as...,Dr. Seuss,"[attributed-no-source, dreams, love, reality, ..."
3,A friend is someone who knows all about you an...,Elbert Hubbard,"[friend, friendship, knowledge, love]"
4,Darkness cannot drive out darkness: only light...,A Testament of Hope: The Essential Writings an...,"[darkness, drive-out, hate, inspirational, lig..."

In [135]:
df.columns, df.index

(Index(['quote', 'authors', 'tags'], dtype='object'),
 RangeIndex(start=0, stop=540, step=1))

In [136]:
df.sort_index(axis=1)

,authors,quote,tags
0,Marilyn Monroe,"I'm selfish, impatient and a little insecure. ...","[attributed-no-source, best, life, love, misat..."
1,William W. Purkey,You've gotta dance like there's nobody watchin...,"[dance, heaven, hurt, inspirational, life, lov..."
2,Dr. Seuss,You know you're in love when you can't fall as...,"[attributed-no-source, dreams, love, reality, ..."
3,Elbert Hubbard,A friend is someone who knows all about you an...,"[friend, friendship, knowledge, love]"
4,A Testament of Hope: The Essential Writings an...,Darkness cannot drive out darkness: only light...,"[darkness, drive-out, hate, inspirational, lig..."
...,...,...,...
535,The Host,"It's not the face, but the expressions on it. ...","[inspirational, love]"
536,Man's Search for Meaning,Everything can be taken from a man but one thi...,"[inspirational, motivational]"
537,Rumi,"You were born with wings, why prefer to crawl ...",[inspirational]
538,The Help,You is kind. You is smart. You is important.,[inspirational]
539,The Little Prince,"What makes the desert beautiful,' said the lit...",[inspirational]

In [143]:
df.sort_values(["authors"])

,quote,authors,tags
39,I love you as certain dark things are to be lo...,100 Love Sonnets,"[love, poetry]"
11,"I love you without knowing how, or when, or fr...",100 Love Sonnets,"[love, poetry]"
455,War is peace. Freedom is slavery. Ignorance is...,1984,"[freedom, ignorance, inspirational, war]"
415,Who controls the past controls the future. Who...,1984,[inspirational]
22,"Love looks not with the eyes, but with the min...",A Midsummer Night's Dream,[love]
...,...,...,...
335,"If I should ever die, God forbid, let this be ...",kurt vonnegut,"[blues, god, life, music]"
261,I love to see a young girl go out and grab the...,maya angelou,"[humor, inspirational, life]"
453,I love to see a young girl go out and grab the...,maya angelou,"[humor, inspirational, life]"
159,أجمل حب هو الذي نعثر عليه أثناء بحثنا عن شيء آخر,أحلام مستغانمي,"[love, حب]"
337,أحيانًا يساعدنا الآخرون بأن يكونوا فى حياتنا فحسب,أحمد خالد توفيق,[life]

In [166]:
df.iloc[0:100:10]

,quote,authors,tags
0,"I'm selfish, impatient and a little insecure. ...",Marilyn Monroe,"[attributed-no-source, best, life, love, misat..."
10,"The opposite of love is not hate, it's indiffe...",Elie Wiesel,"[activism, apathy, hate, indifference, inspira..."
20,"I'm in love with you,"" he said quietly.""August...",The Fault in Our Stars,"[doomed, inevitable, love, oblivion, pleasure,..."
30,If I had a flower for every time I thought of ...,Alfred Tennyson,"[friendship, love]"
40,"Just when you think it can't get any worse, it...",At First Sight,"[life, love]"
50,Perhaps all the dragons in our lives are princ...,Letters to a Young Poet,[love]
60,"You are, and always have been, my dream.",The Notebook,[love]
70,"Nobody has ever measured, not even poets, how ...",Zelda Fitzgerald,[love]
80,"The more I know of the world, the more I am co...",Sense and Sensibility,"[love, requirements]"
90,"This above all: to thine own self be true, And...",Hamlet,"[food, love, music]"

In [168]:
df.to_csv("QuoteScrap.csv", index=None)

In [177]:
df.to_excel?

Signature:
df.to_excel(
    excel_writer,
    sheet_name: 'str' = 'Sheet1',
    na_rep: 'str' = '',
    float_format: 'str | None' = None,
    columns: 'Sequence[Hashable] | None' = None,
    header: 'Sequence[Hashable] | bool_t' = True,
    index: 'bool_t' = True,
    index_label: 'IndexLabel' = None,
    startrow: 'int' = 0,
    startcol: 'int' = 0,
    engine: 'str | None' = None,
    merge_cells: 'bool_t' = True,
    encoding: 'lib.NoDefault' = <no_default>,
    inf_rep: 'str' = 'inf',
    verbose: 'lib.NoDefault' = <no_default>,
    freeze_panes: 'tuple[int, int] | None' = None,
    storage_options: 'StorageOptions' = None,
) -> 'None'
Docstring:
Write object to an Excel sheet.

To write a single object to an Excel .xlsx file it is only necessary to
specify a target file name. To write to multiple sheets it is necessary to
create an `ExcelWriter` object with a target file name, and specify a sheet
in the file to write to.

Multiple sheets may be written to by specifying unique `sheet_name`.
With all data written to the file it is necessary to save the changes.
Note that creating an `ExcelWriter` object with a file name that already
exists will result in the contents of the existing file being erased.

Parameters
----------
excel_writer : path-like, file-like, or ExcelWriter object
    File path or existing ExcelWriter.
sheet_name : str, default 'Sheet1'
    Name of sheet which will contain DataFrame.
na_rep : str, default ''
    Missing data representation.
float_format : str, optional
    Format string for floating point numbers. For example
    ``float_format="%.2f"`` will format 0.1234 to 0.12.
columns : sequence or list of str, optional
    Columns to write.
header : bool or list of str, default True
    Write out the column names. If a list of string is given it is
    assumed to be aliases for the column names.
index : bool, default True
    Write row names (index).
index_label : str or sequence, optional
    Column label for index column(s) if desired. If not specified, and
    `header` and `index` are True, then the index names are used. A
    sequence should be given if the DataFrame uses MultiIndex.
startrow : int, default 0
    Upper left cell row to dump data frame.
startcol : int, default 0
    Upper left cell column to dump data frame.
engine : str, optional
    Write engine to use, 'openpyxl' or 'xlsxwriter'. You can also set this
    via the options ``io.excel.xlsx.writer``, ``io.excel.xls.writer``, and
    ``io.excel.xlsm.writer``.

    .. deprecated:: 1.2.0

        As the `xlwt <https://pypi.org/project/xlwt/>`__ package is no longer
        maintained, the ``xlwt`` engine will be removed in a future version
        of pandas.

merge_cells : bool, default True
    Write MultiIndex and Hierarchical Rows as merged cells.
encoding : str, optional
    Encoding of the resulting excel file. Only necessary for xlwt,
    other writers support unicode natively.

    .. deprecated:: 1.5.0

        This keyword was not used.

inf_rep : str, default 'inf'
    Representation for infinity (there is no native representation for
    infinity in Excel).
verbose : bool, default True
    Display more information in the error logs.

    .. deprecated:: 1.5.0

        This keyword was not used.

freeze_panes : tuple of int (length 2), optional
    Specifies the one-based bottommost row and rightmost column that
    is to be frozen.
storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib.request.Request`` as header options. For other
    URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
    forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
    details, and for more examples on storage options refer `here
    <https://pandas.pydata.org/docs/user_guide/io.html?
    highlight=storage_options#reading-writing-remote-files>`_.

    .. versionadded:: 1.2.0

See Also
--------
to_csv : Write DataFrame to a comma-separated values (csv) file.
ExcelWriter : Class for writing DataFrame objects into excel sheets.
read_excel : Read an Excel file into a pandas DataFrame.
read_csv : Read a comma-separated values (csv) file into DataFrame.
io.formats.style.Styler.to_excel : Add styles to Excel sheet.

Notes
-----
For compatibility with :meth:`~DataFrame.to_csv`,
to_excel serializes lists and dicts to strings before writing.

Once a workbook has been saved it is not possible to write further
data without rewriting the whole workbook.

Examples
--------

Create, write to and save a workbook:

>>> df1 = pd.DataFrame([['a', 'b'], ['c', 'd']],
...                    index=['row 1', 'row 2'],
...                    columns=['col 1', 'col 2'])
>>> df1.to_excel("output.xlsx")  # doctest: +SKIP

To specify the sheet name:

>>> df1.to_excel("output.xlsx",
...              sheet_name='Sheet_name_1')  # doctest: +SKIP

If you wish to write to more than one sheet in the workbook, it is
necessary to specify an ExcelWriter object:

>>> df2 = df1.copy()
>>> with pd.ExcelWriter('output.xlsx') as writer:  # doctest: +SKIP
...     df1.to_excel(writer, sheet_name='Sheet_name_1')
...     df2.to_excel(writer, sheet_name='Sheet_name_2')

ExcelWriter can also be used to append to an existing Excel file:

>>> with pd.ExcelWriter('output.xlsx',
...                     mode='a') as writer:  # doctest: +SKIP
...     df.to_excel(writer, sheet_name='Sheet_name_3')

To set the library that is used to write the Excel file,
you can pass the `engine` keyword (the default engine is
automatically chosen depending on the file extension):

>>> df1.to_excel('output1.xlsx', engine='xlsxwriter')  # doctest: +SKIP
File:      e:\jupyterlab\envs\machinelearning\lib\site-packages\pandas\core\generic.py
Type:      method